*{
    margin:0px;
}
.header {
    color: white;
    line-height: 70px;
    text-align: center;
    background-color: rgb(159, 89, 224);
    font-size: 50px;
    top: 0;
}
.cake{
    width: 24%;
    display:inline-block;
    margin-top: 0%;
}
img{
    height: 200px;
    width: 200px;
}
h2{
    color: black;
}
button{
    width: 103%;
    background-color: #009b40;
    color: white;
    padding: 14px 20px;
    margin: 5px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input{
    width: 100%;
    color: red;
}
label{
    color: black;
}