<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module('myapp',[]);
        app.controller('mycontrol',function($scope){
            $scope.passpattern = /^[a-zA-z0-9]{5,10}$/;
        })
    </script>
</head>
<body align="center" ng-app="myapp" ng-controller="mycontrol">
    <form style="color:blue" name="myform">
        Name <span style="color:red">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input  type="text" name="name" ng-model="name" required>
        <span style="color:red" ng-show='myform.name.$dirty && myform.name.$error.required'>
        Name is required
        </span>
        <span style='color:red' ng-show="myform.name.$dirty && myform.name.$error.text">
        Numbers are Not Accepted..
        </span>
        <br><br>

        Password <span style="color:red">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="password" name="pass" ng-model="pass" ng-pattern="passpattern" required>
        <span style='color:red' ng-show="myform.pass.$dirty && myform.pass.$error.required">
        Password is required..
        </span>
        <span style='color:red' ng-show="myform.pass.$dirty && myform.pass.$error.pattern">
        Password format is Incorrect..
        </span>
        <br><br>

        Age <span style="color:red">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="number" name="age" ng-model="age" required>
        <span style='color:red' ng-show="myform.age.$dirty && myform.age.$error.required">
        Age is required..
        </span>
        <span style='color:red' ng-show="myform.age.$dirty && myform.age.$error.number">
        Enter Only Numbers..
        </span>
        <br><br>

        Mobile Number <span style="color:red">*</span>&nbsp;&nbsp;&nbsp;
        <input type="number" name="tel" ng-model="tel" required>
        <span style='color:red' ng-show="myform.tel.$dirty && myform.tel.$error.required">
        Mobile Number is required..
        </span>
        <span style='color:red' ng-show="myform.tel.$dirty && myform.tel.$error.number">
        Enter Only Numbers..
        </span>
        <br><br>

        Email <span style="color:red">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="email" name="email" ng-model="email" required>
        <span style='color:red' ng-show="myform.email.$dirty && myform.email.$error.required">
        Email is required..
        </span>
        <span style='color:red' ng-show="myform.email.$dirty && myform.email.$error.email">
        Enter the correct email format..
        </span>
        <br><br>

        Gender <span style="color:red">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" id="gender" name="gen" value="male" ng-model="gen" required>
        <label for="gender">Male</label>
        <input type="radio" id="gender" name="gen" value="female" ng-model="gen" required>
        <label for="gender">Female</label>
        <span style='color:red' ng-show="myform.gen.$dirty && myform.gen.$error.required"></span>
        <br><br>

        State<span style="color:red">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label for="states"></label>
        <select name="state" id="states" required>
          <option value="TN">Tamil Nadu</option>
          <option value="AP">Andhra Pradesh</option>
          <option value="KL">Kerala</option>
        </select>
        <br><br>
        <button ng-disabled="myform.name.$invalid || myform.email.$invalid || myform.pass.$invalid || myform.gen.$invalid || myform.age.$invalid || myform.tel.$invalid || myform.state.$invalid" ng-click="submit()">Submit</button>
    </form>
</body>
</html>